export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export EDITOR='subl'

export PATH="/opt/local/bin:/usr/local/bin:/usr/local/sbin:$PATH"
export JAVA_HOME="$(/usr/libexec/java_home)"
export EC2_PRIVATE_KEY="$(/bin/ls "$HOME"/.ec2/pk-*.pem | /usr/bin/head -1)"
export EC2_CERT="$(/bin/ls "$HOME"/.ec2/cert-*.pem | /usr/bin/head -1)"
export EC2_HOME="/usr/local/Library/LinkedKegs/ec2-api-tools/jars"
export ARCHFLAGS="-arch x86_64"
export PYTHONSTARTUP="/Users/brianly/dev/github/dotfiles/startup.py"

# Bash history
export HISTCONTROL=erasedups
export HISTSIZE=10000

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"